 

.hamburger-menu {
    position: fixed;  
    top: 20px;  
    right: 20px; 
    width: 50px;  
    height: 50px;  
    background-image: url(../assets/images/menu1.png); 
    border-radius: 50%;
    background-size: cover;  
    cursor: pointer;  
    z-index: 1000;  
}
.menu-container {
    position: absolute;
    top: 20px;  
    right: 20px;  


.overlay-menu {
    position: absolute;
    top: 40px; 
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;  
}

.overlay-menu ul {
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.overlay-menu ul li {
    margin-bottom: 10px;
    background-color: #fff;
}

.overlay-menu ul li a {
    background-color: #fff;
    color: #333;
    text-decoration: none;
    display: block;
}

.overlay-menu ul li a:hover {
    text-decoration: underline;
}
