.quotes-container {
    font-family: "Lora", serif;
    position: relative;
    overflow: hidden;
    width: 80%; 
    margin: 50px auto;  
    padding: 20px;  
    box-sizing: border-box; 
    border: 1px solid transparent;  
}

.quote {
    position: relative;
    display: block; 
    white-space: normal; 
    font-size: 28px; 
    font-weight: normal; 
    word-wrap: break-word;  
    text-align: center; 
    padding: 10px;  
}
