:root {
  --button-bg:  #EFE5D2;
  --button-text-color: #000000;
  --button-shadow: rgba(0, 0, 0, 0.2);
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;  
  height: 100%;  
}

.body {
  background-image: url(assets/images/homepage.png);
  background-color: #FFFDEB;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  height: 100vh; 
  font-family: "Lora", serif;
}

#homepage-desc {
  font-weight: 100;
  font-style: normal;
  text-align: center;
  color: black;
  font-size: 27px;
  max-width: 800px;
  padding: 20px;
  background: linear-gradient(90deg, #d2b48c, #a0522d, #8b4513);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: -60px;  
}


.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#start {
  display: inline-block;
  padding: 15px 40px;
  background: radial-gradient(circle, #f5e4cf, #dac1a3, #d2b48c);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 10px 20px var(--button-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#start:hover {
  transform: translateY(2px);
  box-shadow: 0px 15px 30px var(--button-shadow);
}
