body {
    background-image: url('./assets/images/pagebg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -150px;  
    margin: 0;
  }
  
#myInput {
    font-family: "Lora", serif;
    font-weight: 100;
    font-style: normal;
    opacity: 0.9;  
    color: #333;  
    height: 100px;
    padding: 10px;
    font-size: 55px;
    border: none;
    border-radius: 10px; 
    background-color: #FFFDEB;  
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    width: 460px; 
    margin: 0 auto;  
    display: block;  
    text-align: center;
    margin-top: 100px; 
}

#myInput:focus {
    outline: none;  
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);  
    transform: translateY(2px);  
}

.page1-button {
    position: relative;
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    border: none;
    background-image: url(./arrow_forward_24dp_FILL0_wght400_GRAD0_opsz24.png);
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none; 
    margin-top: 20px;  
    overflow: hidden;  
}

.page1-button::before {
    content: '';
    position: absolute;
    top: -2px;  
    left: -2px;  
    width: calc(100% + 4px); 
    height: calc(100% + 4px);  
    border-top: 2px solid white;  
    border-right: 2px solid white; 
    opacity: 0;
    transition: opacity 0.3s ease; 
    transform-origin: center;  
}

.page1-button:hover::before {
    opacity: 1;  
    animation: animateBorder 3s linear infinite alternate;  
}

@keyframes animateBorder {
    0% {
        transform: rotate(0deg);  
    }
    100% {
        transform: rotate(360deg); 
    }
}

